* {
  padding: 0;
  margin: 0;
  font-size: 40px;
  /* display: block; */
}
body {
  display: flex;
  justify-content: center;
}
.box-one {
  background-color: blue;
  border: 20px solid #037;
  padding: 10px;
  /* height: 100px;
  width: 100px; */
  width: 100px;
  margin: auto;
  margin: 60px;
  /* box-sizing: border-box; */
}
.box-tow {
  background-color: brown;
  border: 20px solid #037;
  padding: 10px;
  /* height: 100px;
  width: 100px; */
  width: 100px;
  margin: auto;
  margin: 60px;
}
